#include <windows.h>
#include "resource.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "loader.exe.manifest"

IDI_APPICON ICON "loader.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
	IDS_USAGE, L"Usage: %1 %2 path"
	IDS_LOADING, L"Please wait while the application is being installed."
	IDS_LOADING_U, L"Please wait while the application is being uninstalled."
	IDS_TIMESPEC, L"This will take about %1 minutes..."
	IDS_TIMEUNDEF, L"This might take a while..."
	IDS_SUCCESS, L"Application installed successfully."
	IDS_SUCCESS_U, L"Application uninstalled successfully."
	IDS_FAILURE, L"An error occured during installation of the application.\nPlease contact the Service Desk and ask for assistance."
	IDS_FAILURE_U, L"An error occured during deinstallation of the application.\nPlease contact the Service Desk and ask for assistance."
	IDS_INSTALL, L"Installing"
	IDS_UNINSTALL, L"Uninstalling"
	IDS_DETAILS, L"Details"
	IDS_ERRORCODE, L"Error code: %1!u! (0x%1!X!)\n%2"
	IDS_CLOSE, L"Close"
END

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
	IDS_USAGE, L"Verbrauch: %1 %2 pfad"
	IDS_LOADING, L"Bitte warten Sie, während die Anwendung installiert wird."
	IDS_LOADING_U, L"Bitte warten Sie, während die Anwendung deinstalliert wird."
	IDS_TIMESPEC, L"Dies dauert ca. %1 Minuten..."
	IDS_TIMEUNDEF, L"Dies kann eine Weile dauern..."
	IDS_SUCCESS, L"Anwendung erfolgreich installiert."
	IDS_SUCCESS_U, L"Anwendung erfolgreich deinstalliert."
	IDS_FAILURE, L"Ein Fehler ist aufgetreten während der Installation der Anwendung. Bitte kontaktieren Sie den Helpdesk und frag um Unterstützung."
	IDS_FAILURE_U, L"Ein Fehler ist aufgetreten während der Deinstallation der Anwendung. Bitte kontaktieren Sie den Helpdesk und frag um Unterstützung."
	IDS_INSTALL, L"Installieren"
	IDS_UNINSTALL, L"Deinstallieren"
	IDS_DETAILS, L"Details"
	IDS_ERRORCODE, L"Fehlercode: %1!u! (0x%1!X!)\n%2"
	IDS_CLOSE, L"Schlie\x00DFen"
END

LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
	IDS_USAGE, L"Gebruik"
	IDS_LOADING, L"Gelieve te wachten terwijl de applicatie wordt geïnstalleerd."
	IDS_LOADING_U, L"Gelieve te wachten terwijl de applicatie wordt gedeïnstalleerd."
	IDS_TIMESPEC, L"Dit zal ongeveer %1 minuten duren..."
	IDS_TIMEUNDEF, L"Dit kan enige tijd duren..."
	IDS_SUCCESS, L"Applicatie is succesvol geïnstalleerd."
	IDS_SUCCESS_U, L"Applicatie is succesvol gedeïnstalleerd."
	IDS_FAILURE, L"Er is een fout opgetreden tijdens de installatie van de applicatie.\nNeem contact op met de Service Desk en vraag om assistentie."
	IDS_FAILURE_U, L"Er is een fout opgetreden tijdens de deinstallatie van de applicatie.\nNeem contact op met de Service Desk en vraag om assistentie."
	IDS_INSTALL, L"Installeren"
	IDS_UNINSTALL, L"Deïnstalleren"
	IDS_DETAILS, L"Details"
	IDS_ERRORCODE, L"Foutcode: %1!u! (0x%1!X!)\n%2"
	IDS_CLOSE, L"Sluiten"
END

IDD_LOADER DIALOGEX 150, 150, 261, 63
CAPTION L""
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_APPWINDOW
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "MS Shell Dlg"
BEGIN
   CONTROL IDI_APPICON, IDC_DLGICON, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 20, 20
   CONTROL L"", IDC_MESSAGE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 31, 7, 223, 28
   CONTROL L"", IDC_PROGRESS, "msctls_progress32", WS_CHILD | WS_BORDER, 7, 45, 183, 10
   CONTROL L"", IDC_DETAILS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 195, 26, 60, 14
   CONTROL L"", IDC_OK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 195, 43, 60, 14
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
#ifdef DEBUG
FILEFLAGS VS_FF_DEBUG
#endif
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
			VALUE L"Comments", L""
			VALUE L"CompanyName", L"Saxion Hogescholen"
			VALUE L"FileDescription", L""
			VALUE L"FileVersion", VER_FILEVERSION_STR
			VALUE L"InternalName", L"loader.exe"
			VALUE L"LegalCopyright", L"Copyright \x00A9 2012 Saxion Hogescholen"
			VALUE L"LegalTrademarks", L""
			VALUE L"OriginalFilename", L"loader.exe"
			VALUE L"ProductName", L"loader.exe"
			VALUE L"ProductVersion", VER_PRODUCTVERSION_STR
		END
	END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE L"Translation", 0x0409, 1200
    END
END
